PAKAI*
.git
.vscode
__pycache__
aapi_creds.py
ConvertRHtoAISSH
pyproject.toml
requirements.txt
autoalert.log
extalert.code-workspace
extalert_b*.py
extalert_s*.py
tktvars_dco.json
tktvars.json
SNOW ids.txt