.gitignore
PAKAI*
.git
.vscode
__pycache__
aapi_creds.py
ConvertRHtoAISSH
pyproject.toml
requirements.txt
autoalert.log
extalert.code-workspace
extalert_b*.py
extalert_s*.py
tktvars_dco.json
tktvars.json
tktvars copy.json
SNOW ids.txt
xx*
Jira
xxctm_python
sendAlarmToScript/Python/Helix ITSM/resources/Windows/README.md
*.ori
#no push stuf
np_*
evtvars_*