[Unit]
Description=Apache Zookeeper server (Kafka)
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Type=simple
User=kafka
Environment=JAVA_HOME=/etc/alternatives/jre_21
#Note the config dir is not on the ~/kafka dir as it is a symlink 
ExecStart=/home/kafka/kafka/bin/zookeeper-server-start.sh /home/kafka/config/zookeeper.properties
ExecStop=/home/kafka/kafka/bin/zookeeper-server-stop.sh

[Install]
WantedBy=multi-user.target

